<h1 id="_sol">_SOL</h1>
<h4 id="version-1-6">Version 1.6</h4>
<p>_SOL is a Wordpress starter theme developed for use with academic websites. It&#39;s based on the <a href="https://github.com/eddiemachado/bones">Bones</a> starter theme. It comes with some common functionality academic websites might find useful, and has some general styling, but it is meant to be used as a starting point for you to customized as needed for new projects.</p>
<h2 id="getting-started">Getting Started</h2>
<p>I recommend taking the following steps when using this theme:</p>
<ol>
<li><a href="https://bitbucket.org/tuckerl/_sol-theme/downloads">Download</a> theme from BitBucket.</li>
<li>Rename the file appropriately and then <a href="https://codex.wordpress.org/Using_Themes">install the theme</a> in Wordpress.</li>
<li>Download the required plugins and optionally the recommended plugins that you&#39;d like to use.</li>
<li>(Optional) Download and upload the placeholder content.</li>
<li>Customize as you see fit!</li>
</ol>
<h2 id="latest-changes">Latest Changes</h2>
<ul>
<li>Theme is now responsive and fully mobile optimized.</li>
<li>Revisions are now saved for Books and Courses post types.</li>
<li>Can see user ID on Dashboard.</li>
<li>Commonly used plugins are automatically recommended on theme install.</li>
</ul>
<h2 id="plugins">Plugins</h2>
<p>_SOL makes use of the following plugins:</p>
<h4 id="recommended">Recommended</h4>
<ul>
<li><a href="https://wordpress.org/plugins/advanced-access-manager/">Advanced Access Manager</a> - Manager user roles for Wordpress backend.</li>
<li><a href="https://wordpress.org/plugins/advanced-custom-fields/">Advanced Custom Fields Pro</a> - (Pro version not free) Heavily used for creating custom fields and controlling theme functions.</li>
<li><a href="https://wordpress.org/plugins/configpress/">ConfigPress</a> - Used in conjunction with Advanced Access Manager to set super admin.</li>
<li><a href="http://www.gravityforms.com/">Gravity Forms</a> - (Not free) For creating web forms.</li>
<li><a href="https://wordpress.org/plugins/regenerate-thumbnails/">Regenerate Thumbnails</a> - Allows you to regenerate all thumbnails after changing the thumbnail sizes.</li>
<li><a href="https://wordpress.org/plugins/redirection/">Redirection</a> - Manage 301 redirects and monitor 404 errors.</li>
<li><a href="https://wordpress.org/plugins/the-events-calendar/">The Events Calendar</a> - Integrated into the theme for events.</li>
<li><a href="https://wordpress.org/plugins/wordpress-seo/">Yoast SEO</a> - Best way to manage SEO for Wordpress.</li>
</ul>
<h4 id="optional">Optional</h4>
<ul>
<li><a href="https://wordpress.org/plugins/broken-link-checker/">Broken Link Checker</a> - Checks site for broken links and missing images.</li>
<li><a href="https://wordpress.org/plugins/contact-form-7/">Contact Form 7</a> - Simple contact form plugin.</li>
<li><a href="https://wordpress.org/plugins/post-types-order/">Post Types Order</a> - Allow admin to drag and drop to reorder post.</li>
<li><a href="https://wordpress.org/plugins/responsive-lightbox/">Responsive Lightbox</a> - Use with image galleries.</li>
<li><a href="https://wordpress.org/plugins/tablepress/">TablePress</a> - Nice way to manage tabular data.</li>
</ul>
<h2 id="jquery-plugins">jQuery Plugins</h2>
<p>The following jQuery plugins are included:</p>
<ul>
<li><a href="https://github.com/adobe-accessibility/Accessible-Mega-Menu">Accessible Menu</a> - Makes main menu controllable by keyboard.</li>
<li><a href="http://isotope.metafizzy.co">Isotope</a> - For filtering and sorting layouts via AJAX.</li>
<li><a href="http://bxslider.com">BxSlider</a> - Responsive content slider.</li>
<li><a href="http://modernizr.com">Modernizr</a> - Allows you to take advantage of HTML5 and CSS3 features by detecting it in the user’s browser.</li>
<li><a href="http://pixelcog.github.io/parallax.js/">Simple Parallax Scrolling</a> - A simple parallax scrolling effect.</li>
<li><a href="http://slicknav.com/">SlickNav Responsive Mobile Menu</a> - Functionality for mobile nav.</li>
<li><a href="https://github.com/leafo/sticky-kit/">Sticky-kit</a> - A jQuery plugin for creating smart sticky elements.</li>
</ul>
<h2 id="sass">SASS</h2>
<p>This theme is built using <a href="http://sass-lang.com/">SASS</a> to write CSS. If you don&#39;t want to use SASS, simply ignore the scss directory and instead use the css directory. If you do want to take advantage of SASS and all it&#39;s advantages, you&#39;ll need a way to compile your SASS into CSS files. There are <a href="http://mashable.com/2013/06/11/sass-compass-tools/">many tools</a>, but if you are using a Mac I recommend <a href="http://alphapixels.com/prepros/">Prepros</a>.</p>
<h2 id="downloads">Downloads</h2>
<p>Aside from the required plugins, you might also want to download these files to help you get started with your website.</p>
<ul>
<li><a href="https://ucla.box.com/sol-pages">Pages</a> - Common pages that might be needed on an academic website with placeholder content.</li>
<li><a href="https://ucla.box.com/sol-people">People</a> - Fake people to use for demo and development purposes. </li>
<li><a href="https://ucla.box.com/sol-books">Books</a> - Fake books to use for demo and development purposes.</li>
<li><a href="https://ucla.box.com/sol-courses">Courses</a> - Fake courses to use for demo and development purposes.</li>
<li><a href="https://ucla.box.com/sol-posts">Posts</a> - Fake posts to use for demo and development purposes.</li>
<li><a href="https://ucla.box.com/seo-settings">SEO Settings</a> - Settings for Yoast SEO plugin.</li>
</ul>
<h2 id="setting-recommendations">Setting Recommendations</h2>
<ul>
<li>[Gravity Forms] - When using Gravity Forms, edit the Settings and set Output CSS to &quot;No&quot; and Output HTML to &quot;Yes.&quot;</li>
<li>[Yoast SEO] - _SOL integrates with Yoast SEO to create breadcrumbs. When installed, go to the Advanced settings and check &quot;Enable Breadcrumbs.&quot;</li>
<li>[The Events Calendar] - From within the Events section, go to Settings &gt; Display and select Full Styles to get a slight change in design that better matches the theme.</li>
<li>Under Settings &gt; General, consider setting the Front Page to Home (available in the <a href="https://ucla.box.com/sol-pages">Pages</a> download). If you do not, the homepage hero image will pull from the most recent post.</li>
</ul>
