/******************************************************************
Site Name: Department or Center Name
Author(s): Lucian Tucker

Stylesheet: Main Stylesheet
******************************************************************/
// Helpful articles on Sass file organization:
// http://thesassway.com/advanced/modular-css-naming-conventions

//********* IMPORTING PARTIALS *********
// These files are needed at the beginning so that we establish all our mixins, functions, and variables that we'll be using across the whole project.

@import "partials/normalize";
@import "partials/functions";
@import "partials/variables";
@import "partials/mixins";
@import "partials/typography";

//********* IMPORTING MODULES *********
// Modules are reusable blocks or elements we use throughout the project.

// Buttons
@import "modules/buttons";

// Forms
@import "modules/forms";

// Events
@import "modules/events";

// Slider
// Comment out if you are not using the slider.
@import "modules/slider";

//********* SCREEN SIZES *********
// Main
@import "breakpoints/main";

// Mobile Devices Base
@media only screen and (max-width: 960px) {
	@import "breakpoints/base";
}
// Large Viewing Size
@media only screen and (min-width: 1440px) {
	// styles in 1440up.scss
	@import "breakpoints/1440up";
}
// Tweaks for mobile sizes
@import "breakpoints/mobile-fixes";

//********* PRINT *********
// You shouldn't have to change this
@media print {
	@import "partials/print";
}