// ******************************************************************
// Stylesheet: Mixins Stylesheet
// Helpful:
// http://sachagreif.com/useful-sass-mixins/
// http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
// http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/
//
// Above each mixin is an example of how to use it
// ******************************************************************/

// *********************
// TRANSITION
// *********************/

// @include transition(background-color 0.14s ease-in-out);

@mixin transition($transition...) {
	// defining prefixes so we can use them in mixins below
	$prefixes: ("-webkit-", "" );
	@each $prefix in $prefixes {
		#{$prefix}transition: $transition;
	}
}

// *********************
// CSS3 GRADIENTS
// *********************/

// @include css-gradient(#dfdfdf,#f8f8f8);

@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}

// *********************
// HIDE CONTENT FROM BROWSER ACCESSIBLY 
// *********************/

//	<b class="visually-hidden">Open the navigation</b>
//	.visually-hidden { @extend %visuallyhidden; }

%visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute; 
	width: 1px; 
}

// *********************
// OPACITY
// *********************/

// .my-class{ background:black(0.15); color:white(0.9); }

@function black($opacity) {
	@return rgba(0,0,0,$opacity)
}
@function white($opacity) {
	@return rgba(255,255,255,$opacity)
}

// *********************
// DECLARING FONTS
// *********************/

// @include font-face(Proxima, '../fonts/proximanova-regular-webfont', normal, normal); 

@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
	@font-face {
		font-family: $font-family;
		src: url('#{$file-path}.eot');
		src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
			url('#{$file-path}.woff') format('woff'),
			url('#{$file-path}.ttf') format('truetype'),
			url('#{$file-path}.svg##{$font-family}') format('svg');
		font-weight: $font-weight;
		font-style: $font-style;
	  }
// Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
	@media screen and (-webkit-min-device-pixel-ratio: 0) {
		@font-face {
			font-family: $font-family;
			src: url('#{$file-path}.svg##{$font-family}') format('svg');
		}
	}
}

// *********************
// BORDER RADIUS
// *********************/

// @include border-radius(15px);

@mixin border-radius($radius) {
	border-radius: $radius;
	background-clip: padding-box;  // stops bg color from leaking outside the border
}

// *********************
// BROWSER PREFIXES
// *********************/

// Removes the need to specify browser prefixes every time
// @include vendor-prefix('box-sizing', 'border-box');

@mixin vendor-prefix($name, $value) {
	@each $vendor in ('-webkit-', '-moz-', '') {
		#{$vendor}#{$name}: #{$value};
	}
}

// *********************
// USE ELLIPSIS "..."
// *********************/

// Adds ... to end of text block
// @include text-truncate;

@mixin text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}



// *********************
// Blend Filter by Shawn
// *********************/

@mixin blend-filter($color, $blend, $opc, $opc-filter, $grayscale) {		  		        
            -webkit-filter: grayscale($grayscale);
            -moz-filter: grayscale($grayscale);
            -o-filter: grayscale($grayscale);
            -ms-filter: grayscale($grayscale);
            filter: grayscale(10%);
            opacity: $opc;
            filter: alpha(opacity=$opc-filter);
            background-color: $color;
            background-blend-mode: $blend;
        }