/******************************************************************
Stylesheet: IE Stylesheet
	Supporting IE8 and above
******************************************************************/
/*    F O N T S
/*--------------------------------------*/
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#Proxima") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-regular-webfont.svg#Proxima") format("svg");
  }
}

@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#Proxima") format("svg");
  font-weight: lighter;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-light-webfont.svg#Proxima") format("svg");
  }
}

@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-semibold-webfont.eot");
  src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#Proxima") format("svg");
  font-weight: bold;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-semibold-webfont.svg#Proxima") format("svg");
  }
}

@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-regit-webfont.eot");
  src: url("../fonts/proximanova-regit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regit-webfont.woff") format("woff"), url("../fonts/proximanova-regit-webfont.ttf") format("truetype"), url("../fonts/proximanova-regit-webfont.svg#Proxima") format("svg");
  font-weight: normal;
  font-style: italic;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-regit-webfont.svg#Proxima") format("svg");
  }
}

/* Correcting font issue in IE8 */
.lt-ie9 body {
  font: 14px/26px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Making header nav links tighter */
.lt-ie9 header nav ul li {
  display: inline-block;
  margin: 0 5px 0 0;
}

.lt-ie9 header nav ul li ul li, .lt-ie9 header nav ul li ul li a {
  display: block;
  margin: 0;
}

/* Replacing dropshadow with solid border */
.lt-ie9 header nav ul li ul {
  border: 1px #ccc solid;
}

/* Making header give button smaller */
.lt-ie9 a.give {
  padding-left: 30px;
  margin: 0 auto;
  text-align: left;
  min-width: 100px;
}

/* Dealing with background cover on IE8 */
.lt-ie9 #hero {
  width: 100%;
  background-position: top center;
  margin: 0 auto 13px auto;
}

.lt-ie9 .home #hero {
  margin: 0 auto 40px auto;
}

.lt-ie9 .home #hero .content {
  background: url("../images/hero-bg.png") repeat-x left bottom;
}
