/*    S L I D E R
/*--------------------------------------*/

.bx-wrapper {
	height: 380px!important;
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
	float: left;
	clear: both;
}
#bxslider {
	margin-top: 0;
}
#slider {
	width: 100%;
	float: left;
	clear: both;
	@include vendor-prefix('box-shadow', '0px 5px 5px 0px rgba(0,0,0,.14)');
	margin: 0 0 40px 0;
	
	li {
		height: 440px;
		margin: 0 0 0 0;
		list-style: none;
		float: left;
		background-position: center bottom;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100%;
		position: relative;
	}
	.content {
		margin: 0 auto;	
	}
	.slider-content {
		color: $text-color!important;
		font-weight: normal;
		background: url('../images/transparent-bg.png') repeat;
		width: 460px;
		padding: 0px 20px;
		max-height: 150px;
		position: absolute;
		bottom: 10px;
		border-left: 20px solid $separator-color;
	
		.slider-content p {
			font-size: 12px;
			line-height: 18px;
		}
	}
}

/* Direction Controls (Next / Prev) */
.bx-wrapper {

	.bx-prev {
		left: 50px;
		background: url(../images/arrow-left.png) no-repeat;
		
		&:hover {
			background: url(../images/arrow-left-light.png) no-repeat;
		}
	}
	.bx-next {
		right: 50px;
		background: url(../images/arrow-right.png) no-repeat;
	
		&:hover {
			background: url(../images/arrow-right-light.png) no-repeat;
		}
	}
	.bx-controls-direction a {
		position: absolute;
		top: 50%;
		margin-top: -16px;
		outline: 0;
		width: 34px;
		height: 58px;
		z-index: 9999;
		text-indent: -9999px;
	}
	.bx-controls-direction a.disabled {
		display: none;
	}
}

/* Pager */
.bx-pager {
	color: $secondary-text-color;
	padding-top: 0px;
	margin-top: -30px;
	position: relative;
	width: $site-width;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}
.bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}
.bx-pager-link {
	overflow: hidden;
}
.bx-pager.bx-default-pager a {
	background: none;
	text-indent: 9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	border-radius: 5px;
	border: 1px white solid;
}
.bx-pager a:hover,
.bx-pager a.active {
	background: $link-color;
}

/*    F R O N T P A G E   S L I D E S
/*--------------------------------------*/

.home .bx-wrapper {
	height: 380px!important;
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
	float: left;
	clear: both;
}
.home #bxslider {
	margin-top: 0;
}
.home #slider {
	width: 100%;
    height: 680px !important;
	float: left;
	clear: both;
	@include vendor-prefix('box-shadow', 'none');
	margin: 0;
    
    .icon {
        text-align: center;
        padding-top: 120px;
            img { width: 200px;}
    }
    .wp, .wp .front-menu {
        background: #003358;        
        
        .slider-content {		  		        
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            -o-filter: grayscale(0%);
            -ms-filter: grayscale(0%);
            filter: grayscale(10%);
            opacity: 0.8;
            filter: alpha(opacity=80);
            background-color: #003358;
            background-blend-mode: multiply;
        }
    }
    .uwc, .uwc .front-menu  {
        background: #0a4f7c;
        
        .slider-content {		  		        
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            -o-filter: grayscale(0%);
            -ms-filter: grayscale(0%);
            filter: grayscale(10%);
            opacity: 0.8;
            filter: alpha(opacity=80);
            background-color: #0a4f7c;
            background-blend-mode: multiply;
        }
    }
    .esl, .esl .front-menu  {
        background: #3281bc;
        
        .slider-content {		  		        
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            -o-filter: grayscale(0%);
            -ms-filter: grayscale(0%);
            filter: grayscale(10%);
            opacity: 0.8;
            filter: alpha(opacity=80);
            background-color: #3281bc;
            background-blend-mode: multiply;
        }
        li div { 
            
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            filter: grayscale(100%);
            opacity: 0.4;
            filter: alpha(opacity=10);
        }
    }
	
    
    
figure{ background: #0071BC; width:100%; height:auto; overflow:hidden; position:relative; margin-bottom: 3%;}
figure img{ width:100%; height:auto; border:none;}
figure a:hover img{
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-o-filter: grayscale(100%);
-ms-filter: grayscale(100%);
filter: grayscale(100%);
opacity: 0.4;
filter: alpha(opacity=10);
}
    
    
    
    
    
	li {
		//height: 440px;
        height:680px !important;
        width:33.33%;
        min-width:313.33px;
		margin: 0 0 0 0;
		list-style: none;
		float: left;
        div.b-img {
            width: 100%;
            height: 440px;
            background-position: center bottom;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            position: relative;
            
            -webkit-filter: grayscale(10%);
            -moz-filter: grayscale(10%);
            -o-filter: grayscale(10%);
            -ms-filter: grayscale(10%);
            filter: grayscale(10%);
            opacity: 0.65;
            filter: alpha(opacity=65);
        }
        div.b-img:hover {       
            
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            -o-filter: grayscale(0%);
            -ms-filter: grayscale(0%);
            filter: grayscale(10%);
            opacity: 0.90;
            filter: alpha(opacity=90);
        
        }
        .front-menu {
            width: 100%;
            height: 150px;
            text-align: center;
            clear: both;
            overflow: hidden;
            padding: 40px 0px;
            
            li {
                width: 100% !important;
                height: auto !important;
                margin: 0px auto;
                
                a, a:link {
                    color: #c9e7ff;
                }
            }
        }
	}
	.content {
		margin: 0 auto;	
	}
	.slider-content {
		color: $text-color!important;
		font-weight: normal;
		background: url('../images/transparent-bg.png') repeat;
		width: 100%;
		padding: 0px;
		height: 100px;
		position: absolute;
		bottom: 0px;
        text-align: center;
        border:none;
         h2 {
             color: $white-text-color;
             text-transform: uppercase;
             margin:10px auto;
             line-height: 26px;
             font-size: 1.8em;
             width: 300px;
         }
	
		p {
			font-size: 12px;
			line-height: 18px;
            padding: 0px 20px;
		}
	}
}


.tinted-image { 
  
        background: 
        /* top, transparent red */ 
        linear-gradient(
          rgba(0, 51, 88, 0.50), 
          rgba(0, 51, 88, 0.50)
        ),
        /* bottom, image */
        url('../images/transparent-bg.png') repeat;
}


