/* ==========================================================================
   Main Styles - Desktop
   ========================================================================== */
   
/*    M A I N  C O N T A I N E R S
/*--------------------------------------*/

#container {
	background: white;
    position: relative;
}
.content, header {
	width: $site-width;
	margin: 0 auto;
}
#hero {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 400px;
	float: left;
	clear: both;
	margin: 0 0 13px 0;
	@include vendor-prefix('box-shadow', '0px 5px 5px 0px rgba(0,0,0,.14)');
}
.col {
	width: 640px;
	float: left;
}
.col + .col {
	width: 280px;
	margin: 10px 0 30px 20px;
}

/*    H O M E  P A G E
/*--------------------------------------*/

.home #hero, .page-template-page-home #hero {
	height: 438px;
	margin: 0 0 40px 0;
	
	.content {
		width: 100%;
		height: 438px;
		@include vendor-prefix('box-shadow', 'inset 0px -40px 80px 60px rgba(0,0,0,0.5)');
	}
	.hero-description {
		font-size: 1.5em;
		font-style: italic;
		color: white;
		text-align: right;
		width: 580px;
		padding: 350px 0 0 360px;
		margin: 0 auto;
	}
	&.mobile-hero {
		display: none;
	}
}
.home .col, .page-template-page-home .col {
	width: 460px;
	float: left;
	
	li {
		padding: 0px 15px 5px 0;
		margin: 0 0 25px 0;
		clear: both;
		list-style: none;
		
		.news-item {
			float: right;
			width: 320px;
		}
		.news-item p {
			color: $text-color;
			font-weight: normal;
		}
	}
	img {
		margin-bottom: 25px;
		float: left;
		width: 110px;
		height: 70px;
	}
	p, span.description {
		padding: 0;
		margin: 0 0 20px 0;
		line-height: 1.5em;
		font-size: .85em;
		font-weight: normal;
		color: $text-color;
		display: block;
	}
	&.news-col .btn {
		margin-top: -5px;
	}
}
.home .col + .col, .page-template-page-home .col + .col {
	width: 220px;
	margin: 0 0 0 20px;
	background-color: white;
	padding: 0;

	li {
		padding: 0;
		border: none;
	}
}
.home .news-col .btn, .page-template-page-home .news-col .btn {
	margin-left: 125px;
	float: left;
	clear: both;
}
.home .events-col ul, .page-template-page-home .events-col ul {
	margin-top: 0;
}

.home {
    .selection-title {
        background: #0a4f7c;
        clear: both;
        text-align: center;
        text-transform: uppercase;
        overflow: hidden;
        h1, h2, h3 {
            color: #fff;
            font-weight: normal;
            padding-bottom: 15px;
        }

    }
    .front-menu {
        display: block;
        
        ul {
            width: 100%;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            li{
                display: block;
                height:auto !important;
            }
        }
    }
}
/*    H E A D E R
/*--------------------------------------*/

header {
	padding: 35px 0 0 0;
	
	&.top {
		h1, h2 { 
			width: 650px;
            height: 90px;
			display: inline-block;
			margin: 0;
            overflow: hidden;
			text-align: left;
            padding:0px;
		}
	}
	// For retina, upload image 2x larger and resize here
	.dept-logo {
		width: 707px;
		height: 89px;
	}
	nav {
		clear: both;
		float: left;
		padding: 30px 0 20px 0;
	}
	nav.mobile {
		display: none;
	}
	nav ul {
		width: 730px;
	}
	.search {
		float: right;
		clear: right;
		margin-top: 30px;
	}
	.give-back {
		width: 130px;
		text-align: center;
		float: right;
		margin-top: 20px;

		.btn.give {
			background-image: url('../images/heart-icon.png');
			background-position: 11px center;
			background-repeat: no-repeat;
			padding-left: 27px!important;
			margin: 0 auto;
			text-align: left;
			min-width: 90px;
		}
		span {
			font-size: .85em;
			display: block;
		}
	}
	.university-logo {
		float: left;
		margin-top: 7px;
		// For retina, upload image 2x larger and resize here
		width: 140px;
		height: 45px;
	}
}
.breadcrumbs {
//background-color: $secondary;
	width: 100%;
	float: left;
	clear: both;
	color: $secondary-text-color;
	font-size: .85em;
	padding: 8px 0;
	margin-bottom: 40px;
    margin-top: 21px;
    border-bottom: 1px #eee solid;
	
	img {
		margin: 0;
		padding: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		clear: both;
		float: left;
	}
	li {
		float: left;
		display: inline-block;
		padding: 0 0 0px 10px;
		margin: 0;
	}
	li + li {
		margin: 0 0 0 5px;
		background: url('../images/arrow.png') no-repeat left center;
	}
	a {
		font-weight: bold;
		color: $link-color;
		text-decoration: underline;
	}
}

/*    N A V I G A T I O N
/*--------------------------------------*/

header nav.desktop ul, footer nav ul {
	padding: 0;
	margin: 0;
	float: left;
}
header nav.desktop ul li, footer nav ul li {
	display: inline-block;
	margin: 0 10px 0 0;
}
header nav.desktop ul li {
	position: relative;
}

/* Drop Down */
header nav.desktop {
	ul li ul {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		padding: 0 10px;
		width: 170px;
		top: 20px;
		border-top: 4px solid $primary-light;
		margin-top: 5px;
		background-color: white;
		z-index: 10000;
		@include vendor-prefix('box-shadow', '0px 5px 5px 0px rgba(0,0,0,.14)');
		@include transition(all 0.24s ease-in-out);
	}
	ul li ul li, ul li ul li a { 
		display: block;
		margin: 0;
	}
	ul li ul li a {
		line-height: 1em;
		padding: 6px 0;
	}
	ul li:hover ul, .sub-menu.open {
		display: block;
		opacity: 1;
		visibility: visible;
	}
	ul li.menu-item-has-children {
		background: url('../images/nav-arrow.png') no-repeat right center;
		padding-right: 10px;
	}
	ul li ul li.menu-item-has-children {
		background: none;
	}
	a {
		font-weight: bold;
		text-transform: uppercase;
		font-size: .85em;
		letter-spacing: 1px;
	}
	a, a:link {
		color: $text-color;
		@include transition(all 0.24s ease-in-out);
	}
	a:hover, a:focus, a:active {
		color: $link-hover-color;
	}
}

/* Side Menu */
.col.side {
	width: 220px;
	margin-left: 80px;

	.content {
		width: 220px;
	}
	li {
		list-style: none;
		margin-left: 0;
		line-height: 1.2em;
	}
	ol, ul  {
		margin-bottom: 25px;
	}
	nav.page-nav ul {
		padding: 0;
		margin: 0;
	}
	.widget_recent_entries li {
		margin-bottom: 10px;
	}
	.btn {
		margin-bottom: 40px;
	}
	.sub-menu { 
		display: none;
	}
	.current_page_item .sub-menu, 
	.current_page_parent .sub-menu {
		display: block;
		margin: 0 0 0 20px;
	}
	.sub-menu li:before {
		content: "•";
		color: $bullet-point;
		font-size: 1.5em;
		padding-right: 5px;
	}	
}
.col-nav {
		width: 220px;

	li {
		list-style: none;
		margin-left: 0;
		line-height: 1.5em;
	}
	ul + h3 {
		margin-top: 40px;
	}
}

/*    G I V E  B A C K   B A N N E R
/*--------------------------------------*/

.home {

    .container.give-back {
        overflow: hidden;
        display: block;
        clear: both;
        width: 100%;
        text-align: center;
        //margin: 20px auto;
        background: $button-color;

        /*.btn.give:before {
            position: absolute;
            content: " ";
            top:0px;
            left:0px;
            right:0px;
            background-image: url('../images/heart-icon.png');           
            background-repeat: no-repeat;
            width: 200px;
            height: 200px;
        }*/
        
        .heart-logo {
            clear: both;
            display: block;
            margin: 40px auto 15px auto;
        }

        .btn.give {
            position: relative;
            margin: 40px auto 0px;
            text-align: center;
            width: 100%;
            background: transparent;
            font-size: 44px;
            padding: 0px;

        }
        span {
            font-size: 27px;
            display: block;
            margin-bottom: 65px;
            color: #333;
        }
    }
        
    footer {
        margin: 0px;
    }
}

/*    F O O T E R
/*--------------------------------------*/

footer {
	background-color: $primary;
	clear: both;
	margin-top: 60px;
	float: left;
	clear: both;
	width: 100%;
	padding: 35px 0 40px 0;
	color: $white-text-color;
	font-size: 1em;
	line-height: 1.5em;
	
	/* Footer Nav */
	nav {
		a, a:link, a:visited {
			color: $white-text-color;
			font-weight: bold;
			text-transform: uppercase;
			font-size: .85em;
			letter-spacing: 1px;
		}
		ul.footer-nav {
			clear: left;
			float: left;
			margin-right: 50px;
		}
		ul.social-links {
			clear: right;
			float: right;
		}
		.icon {
			margin-left: 5px;
			display: inline-block;
			vertical-align: middle;
			
			// For retina, upload image 2x larger and resize here
			img {
				width: auto;
				height: 21px;
			}
			.email {
				height: 18px;
			}
		}
	}
	// Hiding and only showing on mobile
	.search-form {
		display: none;
	}
	.copyright {
		padding-top: 50px;
		font-size: .85em;
		
		.university-logo img {
			float: left;
			width: 100px;
			height: 32px;
		}
		p {
			float: left;
			margin: 0 0 0 20px;
		}
		span {
			margin: 0 5px;
		}
		a, a:link, a:visited {
			color: $white-text-color;
			text-transform: none;
			text-decoration: underline;
		}
	}
}

/*    P E R S O N  P A G E
/*--------------------------------------*/

.single-people {
	.details {
		span {
			display: inline-block;
		}
		span + span {
			margin-left: 20px;
		}
		p {
			margin-top: 0px;
		}
	}
	.col + .col {
		margin-top: 0;
	}
	article header {
		padding: 0;
		
		img {
			display: none;
		}
	}
	.bio {
		border-bottom: 2px solid $border-color;
		margin-bottom: 20px;
	}
	.col-nav ul {
		margin-bottom: 40px;
	}
	.photo {
		width: 280px;
		height: 280px;
		margin-bottom: 10px;
	}
	.circle {
		// To make circle, radius should be at least half the width and height
		border-radius: 140px;
	}
	.rounded {
		// Make radius 1/4 the width and height
		border-radius: 70px;
	}
}
.link {
	background: url('../images/link-icon.png') no-repeat left center;
	padding-left: 18px;
}
.download {
	background: url('../images/download-icon.png') no-repeat left center;
	padding-left: 18px;
}

/*    P E O P L E  A R C H I V E
/*--------------------------------------*/

/* Filters */
.tax-people_cat .main header {
	text-align: center;
}
.filter {
	clear: both;
	float: left;
	margin: 20px 0;
	width: 100%;

	ul {
		padding: 0;
	}
	li {
		list-style: none;
		display: inline-block;
		margin: 0 5px;
	}
}
.button-group {
	width: 100%;
	float: left;
	
	button {
		margin-right: 5px;
		min-width: 124px;
		letter-spacing: 0px;
		letter-spacing: 0px;
	}
	button.all {
		min-width: 100px;
		margin-right: 10px;
	}
}

/* People List */
.people-list {
	margin-top: 40px;
	padding: 0 9px;
	clear: both;

	ul {
		margin: 30px 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
	.person-item {
		display: block;
		float: left;
		padding: 15px 10px;
		margin: 0px;
		width: 210px;
		height: 210px;
		text-align: center;
		line-height: 1.3em;
		@include transition(background-color 0.24s ease-in-out);
	
		a {
			display: block;
		}
		&:active, 
		&:hover, 
		&:focus {
			background-color: $background-light;
		}
		.photo {
			border: 7px solid white;
			width: 100px;
			height: 100px;
		}
		.circle {
			// To make circle, radius should be at least half the width and height with border (ie. 100px + 7px border = 107px)
			border-radius: 55px;	
		}
		.rounded {
			// Make radius 1/4 the width and height
			border-radius: 25px;
		}
		.name {
			text-transform: uppercase;
			color: $link-color;
			letter-spacing: 1px;
		}
		.interest {
			font-size: .85em;
			color: $text-color;
			line-height: 1em;
		}
		.position {
			color: $secondary-text-color;
			font-style: italic;
			margin-bottom: 10px;
		}
		.email, .office, .office-hours, .phone {
			font-size: .85em;
			margin: 0;
		}
		.email a {
			font-size: 1em;
			display: inline-block;
		}
	}
}

/* Grad Student Page */
.term-grad .people-list {
}

/* Staff */
.term-staff .people-list {

	li:hover {
		background: none;
	}
	.name {
		color: $text-color;
	}
	.position {
		margin-top: 10px;
	}
}

/*    B O O K S
/*--------------------------------------*/

/* General Styles */
.cover {
	@include vendor-prefix('box-shadow', '0 0 10px 0 rgba(0,0,0,.14)');
	border: 3px solid white;
}
.custom-cover {
	background-color: #b4b4b4;
	margin: 0 auto 0 auto;
	
	 .title {
		color: white;
		font-weight: bold;
		text-align: center;
		display: block;
	}
}
.publisher {
	display: block;
}
.book-list {
	.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 5px;
	}
	dd.author a {
		display: block;
		font-size: .85em;
		line-height: 16px;
	}
}

/* People Page */
.single-people .book-list {
	float: left;
	
	img, .custom-cover {
		float: left;
	}
	.custom-cover {
		width: 50px;
		height: 60px;
		padding: 20px 5px 10px 5px;
		
		.title {
			font-size: .42em;
			line-height: 1em;
		}
	}
	li {
		float: left;
		margin: 0 0 20px 0;
		list-style: none;
		display: inline-block;
		width: 320px;
	}
	dl {
		margin-left: 15px;
		float: left;
		clear: none;
		width: 225px;
	}
	dt.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd {
		margin-bottom: 0px;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin: 10px 0;
	}
	dd.author a {
		display: block;
		font-size: .85em;
		line-height: 16px;
	}
	dd.subtitle {
		font-style: italic;
		line-height: .85em;
	}
}

/* Book Page */
.single-books {
	.publisher {
		display: block;
		font-size: .85em;
		font-style: italic;
	}
	.author {
		margin-top: 20px;
		display: block;
	}
	.author p {
		display: inline;
	}
	.author-name + .author-name {
		background: url('../images/comma.jpg') no-repeat left 9px;
		padding-left: 10px;
		margin-left: -2px;
	}
	.custom-cover {
		width: 244px;
		height: 313px;
		line-height: 24px;
		padding: 60px 15px 10px 15px;
		
		.title {
			font-size: 24px;
		}
	}
	.content header {
		width: 100%;
		
		.cover {
			display: none;
		}
	}
}

/* Book Archive */
.post-type-archive-books .book-list {
	margin-top: 40px;
	clear: both;
	
	ul {
		padding: 0;
	}
	li {
		display: block;
		padding: 15px 10px;
		margin: 0 10px;
		width: 195px;
		height: 280px;
		text-align: center;
		float: left;
	}
	.custom-cover {
		width: 91px;
		height: 127px;
		line-height: 9px;
		padding: 20px 5px 10px 5px;
		margin-bottom: 12px;
		
		.title {
			font-size: 9px;
		}
	}
	dt.title {
		font-size: 1em;
		line-height: 1em;
		margin: 5px 0;
	}
	dd.publisher {
		font-size: .85em;
		line-height: .85em;
		margin-bottom: 5px;
	}
	dd.author a {
		display: block;
		font-size: .85em;
		line-height: 1.14em;
	}
}

/*    A R T I C L E S
/*--------------------------------------*/

.category, .search-results {
	article {
		padding-bottom: 40px;
	}
	article + article {
		border-top: 2px solid $border-color;
		padding-top: 20px;
	}
}
.publish-date {
	margin-top: 0;
	margin-bottom: 20px;
	display: block;
}

/*    T A B L E S
/*--------------------------------------*/

td, th {
	padding: 5px;
} 
th {
	background-color: $primary-light;
}
tr:nth-of-type(odd) {
	background: $background-light;
}
tr:hover td {
  background-color: $background-dark;
}
td {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $border-color;
}

/*    O T H E R
/*--------------------------------------*/

.alignleft { 
	float: left;
	margin: 0 15px 15px 0;
}
.alignright { 
	float: right;
	margin: 0 0 15px 15px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.pagination li {
	display: inline-block;
}
.pagination {
	text-align: center;
	margin-top: 40px;
}
.instructors {
	display: block;
	margin-bottom: -20px;
}
figure {
	margin-left: 0;
	margin-right: 0;
}

/* FAQ */
dl.faq {
	dt.question {
		background: white url('../images/inactive-arrow.png') no-repeat left 10px;
		padding-left: 15px;
		cursor: pointer;
	}
	dt.active {
		background: white url('../images/active-arrow.png') no-repeat left 10px; 
	}
	dd {
		margin-left: 15px;
	}
	dd > p {
		margin-top: 10px;
	}
}

/* Galleries */
.gallery {

	.gallery-item {
		display: inline-block;
		vertical-align: top
	}
	.gallery-item + .gallery-item {
		margin-left: 10px;
	}
	.gallery-caption {
		max-width: 150px; 
		line-height: 16px; 
		font-size: 12px; 
		font-style: italic;
	}
	.gallery-icon {
		min-height: 160px;
	}
}
// When using Responsive Lightbox plugin
#fancybox-close {
	right: -40px!important;
}
#fancybox-right {
	right: -25px!important;
}
#fancybox-right:hover span {
	left: auto;
	right: 10px;
}
#fancybox-left:hover span {
	left: 10px;
}

// *********************
// COLOR PALETTE EXAMPLE
// Remove this before making site live
// *********************/

.color-block {
	width: 103px;
	height: 103px;
	float: left;
	text-align: center;
	line-height: 7em;
	margin: 0 1px;
}
.light-primary {
	background: $primary-light;
}
.primary {
	background: $primary;
}
.dark-primary {
	background: $primary-dark;
}
.light-secondary {
	background: $secondary-light;
}
.secondary {
	background: $secondary;
}
.dark-secondary {
	background: $secondary-dark;
}
.light {
	color: white;
}
/***** SECTION NAV  *****/

// *********************
// COLOR GRADIENT
// Remove this before making site live
// *********************/

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003059+0,003059+49,00a2e3+50,00a2e3+100 */
.section-nav {
    clear: both;
    height: auto;
    min-height: 56px;
    position: relative;
    left: 0;
    right:0;
    bottom: -21px;
    z-index: 1000;
    background: #003059; /* Old browsers */
    background: -moz-linear-gradient(left,  #003059 0%, #003059 49%, #00a2e3 50%, #00a2e3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #003059 0%,#003059 49%,#00a2e3 50%,#00a2e3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #003059 0%,#003059 49%,#00a2e3 50%,#00a2e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003059', endColorstr='#00a2e3',GradientType=1 ); /* IE6-9 */
    
    .select-section {
        //width: 33.33%;
        float: left;
        min-height: 56px;
        text-align: center;        
    }
    .active {
        min-height: 72px;    
        H3 {
            margin:20px auto;                
            a {
                color:$white-text-color;
            }
        }
    }
    .wp-btn {
        background: #003059;
    }
    .uwc-btn {
        background: #004e7e;
    }
    .esl-btn {
        background: #00a2e3;
    }    
    H3 {        
        font-size: 18px;
        text-transform: uppercase;
        margin:10px auto;
        width: 50%;
        line-height: 18px;
        a, a:link {
            color:#a5a5a5;
            @include transition(all 0.24s ease-in-out);
        }
        
    }

}




/*    S E C T I O N   M E N U
/*--------------------------------------*/

.section-nav {
    position: relative;
	padding: 0;
    clear: both;
    height: auto;
    min-height: 56px;    
	*zoom: 1;
    left: 0;
    right:0;
    bottom: -21px;
    z-index: 1000;
    background: #003059; /* Old browsers */
    background: -moz-linear-gradient(left,  #003059 0%, #003059 49%, #00a2e3 50%, #00a2e3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #003059 0%,#003059 49%,#00a2e3 50%,#00a2e3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #003059 0%,#003059 49%,#00a2e3 50%,#00a2e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003059', endColorstr='#00a2e3',GradientType=1 ); /* IE6-9 */
    
   ul#nav-slides {
	   margin-top: 0;
       
       li {
           position: relative;
           z-index: 5;
           width: 33.33%;
           float: left;
           //height: 56px;
           text-align: center;
           list-style: none;
           padding: 0px;
           margin: 0px;
          // overflow: hidden;
       }
       li:hover {
       
           .select-section {
            height: 72px !important; 
            overflow: hidden;
           // @include blend-filter(red, normal, 1.0, 100, 100); 
        }
           H3 {
                margin:20px auto !important;
                color:$white-text-color;
                a, a:link {
                    color:$white-text-color;
                }
            }
            
            .icon{
                margin: 10px 40px;
            }
       }
       
       .slider-content {
           position: absolute;
           z-index: 10;
           top:0;
           left: 0;
           right: 0;
           bottom: 0;
           opacity: 0.5;
       
       
       }
    
        .select-section {
            width: 100%;
            float: left;
            min-height: 56px;
            text-align: center;
            padding: 0px;
            //overflow: hidden;           
            
            margin: 0 0 0 0;
            list-style: none;
            float: left;
            background-position: center center !important;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            width: 100%;
            position: relative;
            
            .content {
                width: 100%;
                height: 100%;
                overflow:hidden; 
            }
        }
        .wp-btn, .wp {
            background: #003059;
            }
            div {
                @include blend-filter(#003059, multiple, 0.5, 0, 0);
        }
        .uwc-btn, .uwc {
            background: #004e7e;
            div {
                @include blend-filter(#004e7e, multiple, 0.5, 0, 0);
            }
        }
        .esl-btn, .esl {
            background: #00a2e3;
            div {
                @include blend-filter(#00a2e3, multiple, 0.5, 0, 0);
            }
        }    
        H3 {   
            position: relative;
            z-index: 100;
            font-size: 18px;
            text-transform: uppercase;
            margin:10px auto;
            width: 65%;
            line-height: 18px;            
            color:#ddd;
            a, a:link {
                color:#a5a5a5;
                @include transition(all 0.24s ease-in-out);
            }

        }       
        .icon {
            position: absolute;
            z-index: 0;
            top: 0;
            margin: 0px 40px;
            height: 56px;
            overflow: hidden;
        }
        .active {
            height: 72px !important; 
            overflow: hidden;
           // @include blend-filter(red, normal, 1.0, 100, 100);
            H3 {
                margin:20px auto !important;
                color:$white-text-color;
                a, a:link {
                    color:$white-text-color;
                }
            }
            
            .icon{
                margin: 10px 40px;
            }
        }
    }

}
